USE [master]
GO
/****** Object:  Database [DB_HOTELERA]    Script Date: 25/04/2025 09:26:25 ******/
CREATE DATABASE [DB_HOTELERA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_HOTELERA_DAT', FILENAME = N'D:\2025 I\BASE DE DATOS II\DB_HOTELERA_DAT.mdf' , SIZE = 51200KB , MAXSIZE = 256000KB , FILEGROWTH = 50%)
 LOG ON 
( NAME = N'DB_HOTELERA_LOG', FILENAME = N'D:\2025 I\BASE DE DATOS II\DB_HOTELERA_LOG.ldf' , SIZE = 25600KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_HOTELERA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_HOTELERA]
GO
/****** Object:  UserDefinedDataType [dbo].[NOMBRE50]    Script Date: 25/04/2025 09:26:25 ******/
CREATE TYPE [dbo].[NOMBRE50] FROM [varchar](50) NOT NULL
GO
/****** Object:  Table [dbo].[CADENA]    Script Date: 25/04/2025 09:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CADENA](
	[idCadena] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CADENA] PRIMARY KEY CLUSTERED 
(
	[idCadena] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 25/04/2025 09:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[DNI] [char](8) NOT NULL,
	[Nombres] [dbo].[NOMBRE50] NOT NULL,
	[Apellidos] [dbo].[NOMBRE50] NOT NULL,
	[FechaIngreso] [date] NULL,
	[FechaSalida] [date] NULL,
	[HoraIngreso] [time](7) NULL,
	[HoraSalida] [time](7) NULL,
	[NumHabitacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HABITACIONES]    Script Date: 25/04/2025 09:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HABITACIONES](
	[NumHabitacion] [int] NOT NULL,
	[Estado] [varchar](20) NULL,
	[Descripcion] [varchar](20) NULL,
	[idHotel] [int] NULL,
 CONSTRAINT [PK_HABITACIONES] PRIMARY KEY CLUSTERED 
(
	[NumHabitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOTEL]    Script Date: 25/04/2025 09:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOTEL](
	[idHotel] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [dbo].[NOMBRE50] NOT NULL,
	[Direccion] [varchar](100) NULL,
	[Telefono] [varchar](20) NULL,
	[NumHabitaciones] [int] NULL,
	[Categoria] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idHotel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HABITACIONES] ADD  CONSTRAINT [DF_ESTADO]  DEFAULT ('LIBRE') FOR [Estado]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_HABITACION_CLIENTES] FOREIGN KEY([NumHabitacion])
REFERENCES [dbo].[HABITACIONES] ([NumHabitacion])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_HABITACION_CLIENTES]
GO
ALTER TABLE [dbo].[HABITACIONES]  WITH CHECK ADD  CONSTRAINT [FK_HABITACION_HOTEL] FOREIGN KEY([idHotel])
REFERENCES [dbo].[HOTEL] ([idHotel])
GO
ALTER TABLE [dbo].[HABITACIONES] CHECK CONSTRAINT [FK_HABITACION_HOTEL]
GO
USE [master]
GO
